@model IEnumerable<jirafrelance.Models.TblUserSkill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Freelancer"))
{
   <p>
       <a asp-action="Create">Create New</a>
   </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserSkillName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserSkillName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FkSkillUser.UserName)
            </td>*@
            <td>
                @if (User.IsInRole("Freelancer"))
                {
                    <a asp-action="Edit" asp-route-id="@item.PkSkillId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.PkSkillId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PkSkillId">Delete</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
