@model jirafrelance.Models.TblUserCertification

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblUserCertification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCertificationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCertificationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkCertificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
