@model IEnumerable<jirafrelance.Models.TblBid>
@inject UserManager<ApplicationUser> userManager;
    @{
        ViewData["Title"] = "BidUsers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Biders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>FreeLancers</th>
                <th>View FreeLancers kills</th>
                @if (User.IsInRole("Support"))
                {
                    <th>Employer</th>
                    <th>Job title</th>
                }
                <td style="font-weight:bold ">Grant/Ungrant</td> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.FkBidUserNavigation.UserName
                </td>
                <td><a class="btn btn-sm btn-primary" asp-action="Index" asp-route-id="@item.FkBidUserNavigation.Id" asp-controller="TblUserSkills">View Skills</a></td>
                @if (User.IsInRole("Support"))
                {
                   <td>
                       @item.FkJobBiddedNavigation.FkJobEmployerNavigation.UserName
                   </td> 
                   <td>@item.FkJobBiddedNavigation.JobTitle</td>
                }
                
                @if (item.BidStatus == "Granted" || item.FkJobBiddedNavigation.JobStatus == "Granted")
                {  
                    @if (item.BidStatus == "Granted")
                    {
                        @if (User.IsInRole("Support"))
                         {
                            <td>
                                <a asp-controller="TblBids" asp-action="Grantbid"  asp-route-PkBidId="@item.PkBidId" asp-route-grantstate="ungrant" class="btn btn-sm btn-primary">Ungrant job</a>
                            </td> 
                         }
                        @if (User.IsInRole("Employer"))
                         {
                             <td>
                                 <a asp-controller="TblBids" asp-action="Grantbid"  asp-route-PkBidId="@item.PkBidId" asp-route-grantstate="ungrant" class="btn btn-sm btn-primary">Request Change of Bidder</a>
                             </td> 
                             <td><a asp-controller="Massages" asp-action="Index"  asp-route-id="@item.FkBidUser" class="btn btn-sm btn-primary">Direct Chat</a>
                                 <a asp-controller="Massages" asp-action="Create"  asp-route-RecepietId="@item.FkBidUser" asp-route-jbId="@item.FkJobBidded" class="btn btn-sm btn-primary">Send Message</a>
                             </td>
                         }
                        
                    }
                    else
                    {
                        @if (User.IsInRole("Support"))
                         {
                             @if (item.BidStatus == "Granted")
                              {
                                  <td>
                                     <button disabled="disabled" class="btn btn-sm btn-danger">bid granted</button>
                                 </td>
                              }
                             if (item.BidStatus == "Denied")
                             {
                                 <td>
                                      <button disabled="disabled" class="btn btn-sm btn-danger">bid Denied</button>
                                  </td>
                             }
                            
                         }
                    }
                    
                }
                else
                {
                    @if (User.IsInRole("Support"))
                     {
                         <td><a asp-controller="TblWorkspaces" asp-action="Create"  asp-route-PkBidId="@item.PkBidId" asp-route-grantstate="grant" asp-route-PkBidId="@item.PkBidId" class="btn btn-sm btn-primary">Grant job</a></td>
                     }
                    
                }
                
            </tr>
            }
        </tbody>
    </table>
