@model jirafrelance.Models.TblBid

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblBid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidAwardTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidAwardTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidOfferInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidOfferInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkBidUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkBidUserNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkJobBiddedNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkJobBiddedNavigation.JobBudget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkBidId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
