@model IEnumerable<jirafrelance.Models.TblBid>

@{
    ViewData["Title"] = "Bids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bids</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@if (ViewBag.bidfilter.ToString() == "Active")
{
    <a class="btn btn-sm btn-primary" asp-action="Index" asp-route-bidstatus="Granted">View Granted Bids</a>
}
else
{
    <a class="btn btn-sm btn-primary" asp-action="Index" asp-route-bidstatus="Active">View Active Bids</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidAwardTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidOfferInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidStatus)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FkBidUserNavigation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FkJobBiddedNavigation.JobBudget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidAwardTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidOfferInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidStatus)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FkBidUserNavigation.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FkJobBiddedNavigation.JobBudget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkBidId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkBidId">Details</a>
                @if (item.BidStatus == "Granted")
                {
                    <span>|</span><a asp-action="Index" asp-controller="TblWorkspaces" asp-route-id="@item.PkBidId">WorkSpace</a>
                    <span>|</span><a asp-controller="Massages" asp-action="Create"  asp-route-RecepietId="@item.FkJobBiddedNavigation.FkJobEmployer" asp-route-bidstatus="Granted" class="btn btn-sm btn-primary">Send Employer Message</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
