@model IEnumerable<jirafrelance.Models.TblChatDirect>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DirectChatMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectChatTimeSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectChatSender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectChatStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectChatTimeRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkDirectChatEmployerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DirectChatMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectChatTimeSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectChatSender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectChatStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectChatTimeRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDirectChatEmployerNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkDirectChatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkDirectChatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkDirectChatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
