@model jirafrelance.Models.TblDepositDeduction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblDepositDeduction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositDeductionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositDeductionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositDeductionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositDeductionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkDepositDeductionHistoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkDepositDeductionHistoryNavigation.DepositAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkDepositDeductionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
