@model jirafrelance.Models.TblJobAttachment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblJobAttachment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobAttachmentFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobAttachmentFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobAttachmentFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobAttachmentFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobAttachmentDownloadName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobAttachmentDownloadName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkAttachmentJobNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkAttachmentJobNavigation.JobBudget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkJobAttachmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
