@model jirafrelance.Models.TblDispute

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblDispute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisptReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisptReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisptStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisptStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisptRaiseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisptRaiseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisptConclusionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisptConclusionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisptOutcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisptOutcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkDisptWorkspaceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkDisptWorkspaceNavigation.WkspcAmountAgreed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkDisptId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
