@model IEnumerable<jirafrelance.Models.TblDispute>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisptReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisptStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisptRaiseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisptConclusionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisptOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkDisptWorkspaceNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisptReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisptStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisptRaiseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisptConclusionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisptOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDisptWorkspaceNavigation.WkspcAmountAgreed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkDisptId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkDisptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkDisptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
