@model jirafrelance.Models.TblUserPaymentHistory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblUserPaymentHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDeductions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDeductions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkWorkspacePayNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkWorkspacePayNavigation.WkspcAmountAgreed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkPayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
